/* styles.css */
.container {
  width: 350px;
}
.info p strong {
  display: inline-block;
  min-width: 80px; /* 调整为你需要的宽度 */
}

.status-container ul {
  list-style: none; /* 移除列表项的点 */
  padding: 0; /* 移除内边距 */
  margin: 0; /* 移除外边距 */
}

.status-container li {
  margin-bottom: 2px;
  font-size: 12px;
}

.error-message {
  color: red;
}

.warning-message {
  color: orange;
}

.success-message {
  color: green;
}
.settings-container.hidden {
    display: none;
}