body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
}

.container {
  text-align: center;
}

.info {
  margin-bottom: 15px;
}

.info p {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

#statusMessage {
  margin-top: 10px;
  color: green;
}

.trends {
  margin-top: 20px;
  text-align: left;
}

.trend {
  margin-bottom: 10px;
}

.trend p {
  margin: 5px 0;
}

.status-container {
  margin-top: 20px;
  text-align: left;
}

#statusBox {
  width: 100%;
  height: 100px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: scroll;
}
